.card {
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    border: 1px solid black;


    filter: drop-shadow(8px 8px 1px rgb(19, 19, 19));
    overflow: hidden;
    max-width: 1200px;
    height: 250px;
    width: 180px;
    border: none;
}
@media only screen and (max-width: 768px) {
    .card{
        filter: none;
    }
}
.card-picture {
    height: 100%;
    display: flex;
    justify-content: center;
}
.card-img{
    position: relative;
    border-radius: 9px;
    object-fit: fit;
    height: 100%;

}
.overlay-text {
    position: absolute;
    z-index: 100;
    font-size: 10px;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
}
.text p {
    font-size: 8px;
    align-self: end;
}
.card-text {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 20px;
    overflow: scroll;
}
.card-text h1, p {
    margin: 10px auto 20px;
}
@media only screen and (max-width: 768px) {
    .card-text {
        font-size: 2.5vw;
    }
    .card-text h1, p {
        margin: 5px auto 10px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}