.card {
   

    display: flex;
    flex-direction: row;
    margin: 50px auto;
    border: 1px solid black;
    filter: drop-shadow(8px 8px 1px rgb(19, 19, 19));
    overflow: hidden;
    max-width: 1200px;
    height: 250px;
    width: 180px;
    border: none;
    filter: none;
}

.card-picture {
    height: 100%;
    display: flex;
    justify-content: center;
}
.card-img{
    position: relative;
    border-radius: 9px;
    object-fit: fit;
    height: 100%;

}
.overlay{
    
}
.overlay-text {
    box-sizing: border-box;
    position: absolute;
    border-radius: 9px;
    z-index: 100;
    font-size: 10px;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;
    height: 250px;
    width: 180px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.342);
    overflow: scroll;
    scrollbar-width: none;
}
.overlay-text h1 {
    margin-bottom: 30px;
}

