label, input, select {
    margin: 6px 12px;
    font-size: 28px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-box {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(89, 91, 95);
    border-radius: 30px;
    filter: drop-shadow(5px 10px 1px rgb(19, 19, 19));
}
button {
    background-color: blue;
    font-size: 18px;
    height: 10%;
    width : 30%;
    margin: 10px auto;
    border-radius: 10px;
    color: white;
}



