label, input, select {
    margin: 6px 12px;
    font-size: 28px;
    text-align: center;
}
input, select {
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}
label {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-box {
    margin-top: 50px;
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(89, 91, 95);
    border-radius: 30px;
    filter: drop-shadow(5px 10px 1px rgb(19, 19, 19));
}
button {
    background-color: blue;
    font-size: 30px;
    width : 33%;
    height: 50px;
    margin: 10px auto;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
button object {
    object-fit: fit;
    height: 100%;
    margin-right: 10%;
    color: white;
}



